.NavButs {
display: flex;
border-radius: 30px;
width: fit-content;
border: solid 1px;
background-color: lightgray;
margin-left: 40px;
margin-right: 20px;
padding: 20px;
justify-content: space-between;

}

button {
border-radius: 30px;
}

.footer {
position: absolute;
top:1800px;
margin-left:400px;
font-size:10px;
}
